@model Social.Models.UserProfile

@{
    ViewBag.Title = "UserProfile";
}

@section scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/App/AngularController/ProfileUpdateController.js"></script>

}



@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserProfile</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePicture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProfilePicture, new { @class = "form-control" })
                <img src="@Model.ProfilePicture"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@


<h4>UserProfile</h4>

<div ng-controller="ProfileUpdateController">
   <!-- <form novalidate class="simple-form"> -->

        @*Username: <input class="form-control" type="text" ng-model="user.Username" /><br />*@
        FirstName: <input class="form-control" type="text" ng-model="user.FirstName" /><br />
        LastName: <input class="form-control" type="text" ng-model="user.LastName" /><br />
        Email: <input class="form-control" type="email" ng-model="user.Email" /><br />
        
       <!-- <input type="file" file-model="myFile" /> -->

        Address: <input class="form-control" type="text" ng-model="user.Address" /><br />
        
        <img width="200px" ng-src="{{user.ProfilePicture}}" /><br /><br />
        
       
        <input class="btn btn-default" type="button" ng-click="reset()" value="Reset" />
        <input class="btn btn-default" type="submit" ng-click="update(user)" value="Update" />

    <!-- </form> -->
    <!--
    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
    -->

</div>



